
/*공용 폰트*/
*{
    font-family: 'Nanum Gothic Coding', monospace;
  }


/*카테고리별 세부 메뉴*/
  #HF_style{
    position:fixed;
    background-color: white;
    border-top:0;
    border-bottom: 0;
    width:100%;
  }
  #pageone{
    background-color: white;
  }
  #pan1{
    position: fixed;
  }
 .bak{
    max-width: 100%;
    object-fit: cover;
 }
 .main-content{
     text-align: center;
     background-color: white;
 }
 .ui-content h2{
     padding-top:0;
     margin-top: 0;
     margin-bottom: 5px;
 }
 .content{
    margin-top: 5px;
    background-color: white;
 }
 .content h2{
    margin-top: 0;
 }

 .content h4{
     margin-top: 0;
     margin-bottom: 0;
 }
 .content p{
     margin-top: 0;
     color: tomato;
 }

 #p_hr{
    border-bottom: solid 1px rgba(148, 148, 148,0.2);
    padding-bottom: 10px;
 }

 .content i{
    margin-top: 10px;
    margin-left: 20px;
 }
  hr{
    border: solid 1px rgba(148, 148, 148,0.2);
   
 }
 .flex{
     display: flex;
     
 }
 .flex_s{
     flex: 1;
     border-right: solid 1px rgba(148, 148, 148,0.2);
 }
 .flex_s_1{
     flex: 1;
 }
 .menu{
     width: 40%;
 }
 .foot{
   width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    padding-left: 15px;
    background-color: white;
    padding-top: 10px;
    border-top:solid 1px rgba(148, 148, 148,0.2);
 }
 .foot i{
  font-size: 25px;
 }
 .foot p{
   padding-bottom: 10px;
   padding-top: 5px;
   margin: 0;
   text-align: center;
   font-size: 12px;
 }

 .size img{
  border-radius: 0.5em;
}

 






/* 메뉴 */
a{
  text-decoration: none;
  color: black;
}
#HF_style{
  position:fixed;
  background-color: white;
  border-top:0;
  border-bottom: 0;
  width:100%;
}
#list{
  list-style: none;
}
#list a{
  text-decoration: none; 
  color: black;
}

#list hr{
  border:0;
  height: 4px;
  background-color: grey;

}
#list li{
    padding:5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
    text-align: center;
}
#list ul{
    padding:5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 4px solid blanchedalmond;
    font-size: 20px;
}

/*전환 페이지 속성*/
#pageone{
  background-color: white;
}
#pan1{
  position: fixed;
}
#pagetwo{
  background-color: white;
}
#pan2{
  position: fixed;
}
#pagethree{
  background-color: white;
}
#pan3{
  position: fixed;
}
#pagefour{
  background-color: white;
}
#pan4{
  position: fixed;
}
/*---------------------*/


/*메뉴 카테고리*/
.viewmenu{
  left: 5%;
  right: 5%;
}
.viewmenu img{
  border-radius: 0.5em;
  max-width: 100%;
  max-height: 25%;
  object-fit: cover;
  
}
.viewmenu h3{
  margin-top: 5px;
}
.viewmenu ul{
    padding-left: 0;
    list-style: none;
}
.viewmenu li{
    border-left: 0;
    list-style: none;
    padding:5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(112, 87, 50, 0.116);
    font-size: 15px;
    
}
.viewmenu hr{
  padding: 0px 0px 0px 0px;
  height: 4px;
  background-color: gray;
}

h1{
  margin-top: 50px;
  margin-left: 2%;
}

.ui-content a{
  text-decoration: none;
}
.ui-content h3{
  color: black;
}

/*main_content(메인화면)*/

.foodpic img{
  width: 135px;
  height: 135px;
  
  text-align: center;
}


/*index*/
.wrap{
  position: relative;

}
.wrap h1{
  margin-top: 60px;
  padding-top: 0;
  

}

.content_korea{
position: absolute;
top: 35%;
left: 25%;
transform: translate( -50%, -50% );
color:white ;

}

.content_china{
position: absolute;
top: 35%;
left: 75%;
transform: translate( -50%, -50% );
color: white;
}

.content_west{
position: absolute;
top: 65%;
left: 75%;
transform: translate( -50%, -50% );
color: white;
}

.content_jepan{
position: absolute;
top: 65%;
left: 25%;
transform: translate( -50%, -50% );
color: white;
}
.content_china img{
width: 135px;
height: 135px;
text-align: center;
border-radius: 0.5em;

}
.content_jepan img{
width: 135px;
height: 135px;
text-align: center;
border-radius: 0.5em;

}
.content_korea img{
width: 135px;
height: 135px;
text-align: center;
border-radius: 0.5em;

}
.content_west img{
width: 135px;
height: 135px;
text-align: center;
border-radius: 0.5em;

}

.main_footer{
  position: absolute;
  top: 95%;
left: 50%;
transform: translate( -50%, -50% );
  color: bisque;

}
#font{
  z-index: 2;
}
